* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 10px;
    position: relative;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.form-control input:focus {
    border-color: #4caf50;
}

.form-control small {
    color: red;
    position: absolute;
    bottom: -20px;
    left: 0;
    visibility: hidden;
}

.form-control.error input {
    border-color: red;
}

.form-control.error small {
    visibility: visible;
}

button {
    padding: 10px;
    background-color: #0e6eeb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0858c1;
}
